@CHARSET "utf-8";
html, body {
	font-family: 'Segoe UI Light',Verdana, Geneva, Sans-serif;
	font-size:13px;	
	text-shadow:0px 1px 1px rgba(0, 0, 0, 0.2);
	background: #fff url("../images/metro.png") bottom repeat-x fixed;
	color: #515967;
}
#main_content,.column .widgetbox {
	background: #fff;
}
h1, h2, h3, h4, h5, h6 {
	font-family:'ChunkFive Regular';
}
a {text-decoration:none;color:#515967;}
/*-------true black gradation (1st color style)-------*/
table.report_today thead th,.activities-w .act:hover,#second_bar, #left_content header,#pagination li a, #pagination a.page_link, .ch-table table thead tr,.contextMenu,.user_app, .column .widgetbox h2,.quick-access-w a {
	background: #fff;
}
ul.laporan_dir li,table.report_today ul li,.activities-w .act,.quick-access-w a,.column .widgetbox,.user_app, .contextMenu,.breadcrumbs, #left_content header, #left_content #main_content, .ch-table table, .ch-table .table-title, ul#pagination,.data-prop, #form-search{
	border: 1px solid #DADADA;
}
/*-------dark grey gradation (2nd color style)-------*/
.activities-w .act:hover,.ch-table table tbody tr:hover,#pagination li a:hover,.contextMenu li.hover, #pagination a.page_link:hover, .column .widgetbox h2:hover {
	background: #E6E6E6;
}
#second_bar,#pagination li, .ch-form h3, .user_info-w tr {
	border-bottom: 1px solid  #DADADA;	
}
#left_content footer {
	border-top: 1px solid  #DADADA;
}
.ch-table table td{
	border-bottom: 1px dotted  #DADADA;
}
/*-------disabled style (4th color style)-------*/
#pagination li.previous-off,
#pagination li.next-off {
	background:#8EBC00;
}
/*-------blue (3rd color style)-------*/
#pagination li.active,.quick-access-w a:hover{
	background:#8EBC00;
	color:#fff
}

.contextMenu {
	-moz-animation: pulse 2s infinite;	
	-webkit-animation: pulse 2s infinite;
}
.column  .placeholder{
	border:1px dashed #2e2e2e;
	background:#bbb url(../images/ch-logo.png)no-repeat center;
	opacity:0.7;
	-moz-animation: pulse 2s infinite;	
	-webkit-animation: pulse 2s infinite;
}

/* Firefox Keyframe Animation */
@-moz-keyframes pulse{
	0%{		box-shadow:0 0 2px #0070E4;}
	50%{	box-shadow:0 0 5px #0070E4;}
	100%{	box-shadow:0 0 2px #0070E4;}
}

/* Webkit keyframe animation */
@-webkit-keyframes pulse{
	0%{		box-shadow:0 0 2px #0070E4;}
	50%{	box-shadow:0 0 5px #0070E4;}
	100%{	box-shadow:0 0 2px #0070E4;}
}